<h1>Welcome <%= @user.username %>!</h1>

<p>Here at the book reviewer you can keep track of the books you read and how you felt about them.</p>
<p>Start by creating the book you read, then proceed to write a review about it</p>
<p>You can also make a list of books to keep them organized by genre, the way you felt about them, anything!</p>

